<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.newsource2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".waitActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Article2KeyWord4Activity"
            android:label="@string/title2_keyWord4" />
        <activity
            android:name=".Article2KeyWord3Activity"
            android:label="@string/title2_keyWord3" />
        <activity
            android:name=".Article2KeyWord2Activity"
            android:label="@string/title2_keyWord2" />
        <activity
            android:name=".Article2KeyWord1Activity"
            android:label="@string/title2_keyWord1" />
        <activity
            android:name=".Article2SimilarActivity"
            android:label="@string/keyWord" />
        <activity
            android:name=".Article1KeyWord4Activity"
            android:label="@string/title_keyWord4" />
        <activity
            android:name=".Article1KeyWord3Activity"
            android:label="@string/title_keyWord3" />
        <activity
            android:name=".Article1KeyWord2Activity"
            android:label="@string/title_keyWord2" />
        <activity
            android:name=".Article1KeyWord1Activity"
            android:label="@string/title_keyWord1" />
        <activity
            android:name=".Article1SimilarActivity"
            android:label="@string/keyWord" />
        <activity
            android:name=".Article3Activity"
            android:label="@string/news_preview" />
        <activity
            android:name=".Article2Activity"
            android:label="@string/news_preview" />
        <activity
            android:name=".Article1Activity"
            android:label="@string/news_preview" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/news"></activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>